﻿@model CTPatients.MVC.ViewModels.PatientViewModel

@{
    ViewBag.Title = "Add New Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Patient Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
            </li>
            <li>
                @Html.LabelFor(m => m.DateOfBirth)
                @Html.TextBoxFor(m => m.DateOfBirth)
            </li>
            <li>
                @Html.LabelFor( m => m.Note)
                @Html.TextAreaFor( m => m.Note )
            </li>

        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}
