﻿@model FizzBuzz.ViewModel.InputValueViewModel

@{
    ViewBag.Title = "title";
}

<h2>Fizz Buzz App</h2>


@using (Html.BeginForm("RunFizzBuzz", "Home"))
{

    @Html.ValidationMessageFor(m => m.Input)     <br/>
    @Html.LabelFor(m => m.Input)
    @Html.EditorFor(m => m.Input)
    
    
    <input type="submit" id="runFizzBuzz" value="Run Fizz Buzz"/>
    
}
