﻿@model CTPatients.MVC.ViewModels.AllPatientsViewModel

@{
    ViewBag.Title = "Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title.</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>   
                <th>
                    Surname
                </th> 
                <th>
                    Birth Date
                </th>
                <th>
                    Note
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@patient.Surname</td>
                <td>@patient.DateOfBirth</td>
                <td>@patient.Note</td>
            </tr>
        }

        </tbody>
    </table>
    

</div>

